[access]
	inheritFrom = All-Projects
[project]
	description = Repo support
[access "refs/heads/*"]
	create = group ldap/gerrit_devtools_committers
	forgeAuthor = group ldap/gerrit_devtools_committers
	push = group ldap/gerrit_devtools_committers
	label-Code-Review = -2..+2 group ldap/gerrit_devtools_committers
	submit = group ldap/gerrit_devtools_committers
	editTopicName = group ldap/gerrit_devtools_committers
	abandon = group ldap/gerrit_devtools_committers
[access "refs/meta/config"]
	read = group ldap/gerrit_devtools_committers
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group ldap/gerrit_devtools_committers
	pushSignedTag = group Administrators
	pushSignedTag = group ldap/gerrit_devtools_committers
[access "refs/for/*"]
	pushMerge = group ldap/gerrit_devtools_committers
